@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

html {
	font-size: 10px;
}

body{
	margin: 0em;
  width: 100%;
  background-color: #2980b9;

}

*{
  font-size: 1.6rem;
}

header{
  display: block;
  width: 100%;
  height: 5em;
  line-height: 5em;
  background-color: gray;
  text-align: center;
  vertical-align: middle;
}

header #logo{
  display: inline-block;
  width: 6em;
  height: 4em;
  background-image: url(../images/logo.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* --- MENU --- */
header nav{
  display: inline-block;
  width:20%;
}
header nav ul{
  /*display: block;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width:100%;
  height: 3em;
  line-height: 3em;
}
header nav ul li{
  height: 100%;
}
header nav ul li.separator{
    float: left;
    width:5%;
}
header nav ul li:not(.separator){
    float: left;
    text-align: center;
    width:30%;
}

header nav ul li a {
    text-align: center;
    text-decoration: none;
}
section#recherche{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
header section#recherche input[type="search"] {
    display: block;
   -webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
}


/*ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:30%;
}

li {
    float: left;
    width:33.333%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4aa3df;
}*/
/* --- FIN MENU --- */

#banniere{
  width: 100%;
  height: 18em;
  background-image: url(../images/mer-du-nord.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#intro{
  margin-bottom: 3em;
  padding: 2em;
}

section.matos{
  display: inline-block;
  vertical-align:top;
  width: 24%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.2em;
}
section.matos p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* --- Maps --- */
section#localisation #map{
  width: 85%;
  height: 30em;
}
/* --- FIN MAPS --- */

section#localisation, section#formulaire{
  display: inline-block;
  vertical-align:top;
  width: 45%;
  height: 40em;
  margin-left: auto;
  margin-right: auto;
}
h1{
	font-size: 2.5rem;
}

h2{
  font-size: 2em;
}

/* --- Formulaire --- */
input{
  display: inline-block;
  width: 12em;
}
/* --- FIN formulaire ---*/

footer{
  vertical-align: middle;
  text-align: center;
  border-top: 2px solid black;
}

@media screen and (max-width: 480px){
    /* Ici du code s'appliquant aux écrans de moins de 480 pixels de large */
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
 only screen and (-o-min-device-pixel-ratio: 2),
 only screen and (min--moz-device-pixel-ratio: 2),
 only screen and (min-device-pixel-ratio: 2) {
entete{
    background-image: url(../images/logo-iut.jpg);
    /* nouvelle image de 60px par 60px */
    background-size: 50% auto;
    background-repeat: no-repeat;
    width: 300px;
  }

}





