@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

html {
	font-size: 10px;
}

body{
	margin: 0em;
  width: 100%;
  background-color: #2980b9;

}

*{
  font-size: 1.6rem;
}

header{
  display: block;
  width: 100%;
  height: 5em;
  line-height: 5em;
  background-color: grey;
  text-align: right;
  vertical-align: middle;
}


header #logo{
  display: inline-block;
  float: left;
  margin: 0.5em 05em 05em 2em;
  width: 6em;
  height: 4em;
  background-image: url(../images/logo.jpg);
  background-position: left center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* --- MENU --- */
header nav{
  display: inline-block;
  vertical-align: middle;
  width:20%;
  margin-right: 2em;
}
header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width:100%;
  height: 3em;
  line-height: 3em;
}
header nav ul li{
  height: 100%;
}
header nav ul li.separator{
    float: left;
    width:5%;
}
header nav ul li:not(.separator){
    float: left;
    text-align: center;
    width:30%;
}

header nav ul li a {
    text-align: center;
    text-decoration: none;
}
section#recherche{
  width: 10em;
  margin-right: 5em;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
header section#recherche input[type="search"] {
    display: inline-block;
    vertical-align: middle;
   -webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
}


/*ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:30%;
}

li {
    float: left;
    width:33.333%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4aa3df;
}*/
/* --- FIN MENU --- */

#banniere{
  width: 100%;
  height: 18em;
  background-image: url(../images/mer-du-nord.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section#intro{
  margin-bottom: 3em;
  padding: 2em;
}

section.matos{
  display: inline-block;
  vertical-align:top;
  width: 24%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.2em;
}
section.matos p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* --- MAPS && LOCALISATIN --- */

section#localisation, section#formulaire{
  display: inline-block;
  vertical-align:top;
  width: 45%;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
}

/* --- Maps --- */
section#localisation{
  margin-left: 5%;
  border-right: 2px solid black;
}
section#localisation #map{
  width: 85%;
  height: 20em;
}
/* --- FIN MAPS --- */


h1{
	font-size: 2.5rem;
}

h2{
  font-size: 2em;
}

/* --- Formulaire --- */
section#formulaire{
  text-align: center;
  margin-left: 1em;
}

section#formulaire h2{
  text-align: left;
}

section#formulaire input, section#formulaire textarea{
  display: inline-block;
  margin-bottom: 1.5em;
  padding-left: 0.5em;
  width: 15em;
}

section#formulaire input#prenom,
section#formulaire input#nom,
section#formulaire input#dateNaissance,
section#formulaire input#lieuNaissance
{
  width: 40%;
}

section#formulaire input#nom,
section#formulaire input#lieuNaissance{
  margin-left: 5%;
}

section#formulaire input#mail,
section#formulaire input#image{
  width: 85%;
}

section#formulaire textarea{
  width: 85%;
  margin-bottom: 1.5em;
}

section#formulaire #envoyer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* --- FIN formulaire ---*/


/* --- FOOTER --- */
footer{
  vertical-align: middle;
  text-align: center;
  border-top: 2px solid black;
}
/* --- FIN FOOTER --- */

@media screen and (min-width:480px) and (max-width: 800px){
    /* Ici du code s'appliquant aux écrans de moins de 800 pixels de large */
    header #logo{
      display: block;
    }
}





