@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}
body{
	margin: 1em;
}

p#p1{
	background-color:#3498db;
}

p#p2{
	background-color:#ecf0f1;
}
p#p3{
	background-color:#e74c3c;
}

#entete{
	background-image: url(../images/logo-iut.jpeg);
	/*background-size: 300/16em;*/
}

@media screen and (max-width: 480px){
    /* Ici du code s'appliquant aux écrans de moins de 480 pixels de large */
    img{
    	width: 100%;
    }

    p{
    	font-size: 0.8em;
    	width: 100%;
    }
}



