@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

html {
	font-size: 10px;
}

body{
	margin: 1em;
	font-size: 1.6em;

}

h1{
	font-size: 2.5em;
}
p#p1{
	background-color:#3498db;
}

p#p2{
	background-color:#ecf0f1;
}
p#p3{
	background-color:#e74c3c;
}

#entete{
	display: block;
	width: 30em;
	height: 15em;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/logo-iut2.jpg);
	background-size: 100%;
}

@media screen and (max-width: 480px){
    /* Ici du code s'appliquant aux écrans de moins de 480 pixels de large */
    img{
    	width: 100%;
    }

    h1{
      font-size: 8vw;
    }

    p{
    	font-size: 0.8em;
    	width: 100%;
    }
}

/*@media only screen and (-webkit-max-device-pixel-ratio: 1.5),
 only screen and (-o-max-device-pixel-ratio: 3/2),
 only screen and (max--moz-device-pixel-ratio: 1.5),
 only screen and (max-device-pixel-ratio: 1.5) {
  #entete{
    background: url(images/my-icon.png) no-repeat;
  }
}*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {

   #entete{
    background-image: url(../images/logo-iut.jpg);
    /* nouvelle image de 60px par 60px */
    background-size: 100%;
  }

}



