@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

html {
	font-size: 10px;
}

body{
	margin: 1em;

}

*{
  font-size: 1.6rem;
}

h1{
	font-size: 2.5rem;
}
h1#testPx{
  font-size: 25px;
}
p#p1{

	/*background-color:#3498db;*/
  background-image: url(../images/bg.jpg);
  background-size: cover;
}

p#p2{
	background-color:#ecf0f1;
}
p#p3{
	background-color:#e74c3c;
}

#entete{
	display: block;
	width: 300px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/logo-iut2.jpg);
	background-size: 100%;
}

/* tableau */
table{
  margin: 20px 0px 20px 0px;
  border: 1px solid black;
  font-size: 0.8rem;
  text-align: center;
}

th{
  background-color: grey;
  border:1px solid black;
}

td{
  border: 1px solid black;
}
@media screen and (max-width: 480px){
    /* Ici du code s'appliquant aux écrans de moins de 480 pixels de large */
    img{
    	width: 100%;
    }

    h1{
      font-size: 8vw;
    }

    p{
    	font-size: 0.8em;
    	width: 100%;
    }

    table{
      width: 100%;
    }
    tr{
      width: 100%;
      display: block;
    }
    th{
      width: 95%;
    }
    td{
      display: block;
      width: 95%;
    }
}

/*@media only screen and (-webkit-max-device-pixel-ratio: 1.5),
 only screen and (-o-max-device-pixel-ratio: 3/2),
 only screen and (max--moz-device-pixel-ratio: 1.5),
 only screen and (max-device-pixel-ratio: 1.5) {
  #entete{
    background: url(images/my-icon.png) no-repeat;
  }
}*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
 only screen and (-o-min-device-pixel-ratio: 2),
 only screen and (min--moz-device-pixel-ratio: 2),
 only screen and (min-device-pixel-ratio: 2) {
entete{
    background-image: url(../images/logo-iut.jpg);
    /* nouvelle image de 60px par 60px */
    background-size: 50% auto;
    background-repeat: no-repeat;
    width: 300px;
  }

}





